<h1>Listing Delivery Date & Time Slots</h1>

<table>
  <thead>
    <tr>
      <th>Ddate</th>
      <th>Dtime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @timeslots.each do |timeslot| %>
      <tr>
        <td><%= tm = timeslot.ddate %> <%= tm.strftime("%A") %></td>
        <td><%= timeslot.dtime %></td>
        <td><%= link_to 'Show', [:admin, timeslot] %></td>
        <td><%= link_to 'Edit', edit_admin_timeslot_path(timeslot) %></td>
        <td><%= link_to 'Destroy', [:admin, timeslot], confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Timeslot', new_admin_timeslot_path %>
