<p id="notice"><%= notice %></p>

<p>
  <strong>Zipcode:</strong>
  <%= @spree_areamanager.zipcode %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @spree_areamanager.zone %>
</p>

<%= link_to 'Edit', edit_spree_areamanager_path(@spree_areamanager) %> |
<%= link_to 'Back', spree_areamanagers_path %>
